/****** Begin  footer  section styles ******/

footer {
    background: linear-gradient( #070707, #646262);
    color: white;
}

.contactContainer img {
    height: 50px;
}


.SocialContainer{
    &__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        figure {
            margin-right: 1rem;
        }
    }
    h3 {
        margin-bottom: 10px;
    }
}

.newsContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.legalContainer a {
    text-decoration: none;
    color: white;
}

/****** End footer section  styles ******/