/****** Begin  footer  section styles ******/

footer {
    padding-top: map-get($spacings, xtra-small );
    background-color: rgb(36, 36, 36);
    color: white;
}

.contactContainer img {
    height: 50px;
}

.SocialContainer{
    &__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        i{
            font-size: map-get($sizings , large );
            color: map-get($colors, naranja-hexa);
            padding: map-get($spacings, xtra-small );
        }
    }
    h3 {
        margin-bottom: 10px;
    }
}

.newsContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    input {
        margin-bottom: map-get($margins, xtra-small);
        padding: 5px;
    }
}

.legalContainer a {
    text-decoration: none;
    color: white;
}

/****** End footer section  styles ******/