/*Mixins*/ 

@mixin flex ($direction, $justify, $align){
    display: flex;
    direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
}

/** Helpers **/

.contentCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textCenter {
    text-align: center;
}

