/* Maps */

$spacings: (
    xtra-large: 3rem,
    large: 2rem,
    small: 1.5rem,
    xtra-small: 1rem
);

@each $var , $val  in $spacings {
    .sp-#{$var} {
        padding: 0 $val;
    }
}

$margins: (
    xtra-large: 3rem,
    large: 2rem,
    small: 1.5rem,
    xtra-small: 1rem
);

@each $var , $val  in $margins {
    .mg-#{$var} {
        margin-top: $val;
        margin-bottom: $val;
    }
}

@each $var , $val  in $margins {
    .mg-x-#{$var} {
        margin-right: $val;
        margin-left: $val;
    }
}

$sizings: (
    icon-size: 4em,
    xtra-large: 3em,
    large: 2em,
    small: 1.5em,
    xtra-small: 1em,
    
);

@each $var , $val  in $sizings {
    .fs-#{$var} {
        font-size: $val;
    }
}

$colors : (
    naranja-hexa: #FF5919,
    naranja-rgb: "255,89,25" ,
    rojo-hexa: #FF2626,
    bordo-hexa: #99000A,
    bordo-rgb: "150,0,10",
    gris-bg-section: #faf8f7
)

/* End Maps*/
