/*  Button get a demo */
.btnAction {
    background-color: grey;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px darkgray;
    transition: background-color;
    &:hover {
        background-color: darkgray;
    }
   &__hero {
        background: transparent;
        color: white;
        text-decoration: none;
        :visited{
            text-decoration: none;
        }
        border: 1px solid white;
        border-radius: 15px;
        padding: 5px;
        box-shadow: 1px 1px darkgray;
        transition: background-color;
        &:hover{
            background-color: darkgray;
            color: white;
        }
    }
}

