
/**** begin initializing styles****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
}

/****  end initializing styles****/

/** Helpers **/

.contentCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textCenter{
    text-align: center;
}

.sectionGap{
    margin-top: 20px;
    margin-bottom: 20px;
}


body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

main{
    min-height: 70vh;
}

/******  Begin header styles ******/

.header {
    background-color: white;
}

.header__nav {
   text-align: center;
}

.headerContainer__logo img {
    height: 50px;
}

.headerContainer__menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer__menu li {
    display: inline-block;
    padding: 0 20px;
   
}

.headerContainer__menu a {
    text-decoration: none;
    color: black;
    transition: border;
    
}

.headerContainer__menu a:hover{
   background-color: orange;
   border: 1px solid orange;
   border-radius: 5px;
   color: white;
   
  }



/*  Button get a demo */
.btnAction {
    background-color: grey;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px darkgray;
    transition: background-color;

}

.btnAction:hover{
    background-color: darkgray;
    
}
/****** End header styles******/


/****** Begin index principal section styles ******/

.sectionPrincipal {
    background-image: linear-gradient(to left, #6f6a65, #8f7253, #af7941, #cf7e2c, #f08109);
}

.sectionPrincipal img {
    width: 70%;
    text-align: center;
}

.sectionPrincipal h1 {
    width: 80%;
    font-size: 1.7em;
}

/****** End index principal section  styles ******/

/****** Begin index features  section styles ******/

.sectionFeatures p{
    width: 80%;
}

.sectionFeatures img {
    width: 20%;
    transition: width 0.5s;
}

/****** End index features section  styles ******/



/****** Begin index advantages  section styles ******/

.sectionAdvantages {
    background-image: linear-gradient(to right, #6f6a65, #8f7253, #af7941, #cf7e2c, #f08109);
}

.sectionAdvantages img {
    width: 70%;
    border-radius: 5px;
}

.sectionAdvantages h3, p {
    width: 80%;
}

/****** End index advantages section  styles ******/


/****** Begin index testimonials  section styles ******/

.sectionTestimonials {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sectionTestimonials__container {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.sectionTestimonials__container__carrousel {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

/****** End index testimonials section  styles ******/


/****** Begin  modules styles ******/

.sectionModules img{
    width: 30%;
}

.sectionModules h1{
    font-size: 1.7em;
}

/****** End modules modules  styles ******/

/****** Begin  success styles ******/

.successCases img{
    width: 4rem;
}

.successCases h1{
    font-size: 1.7em;
}

.sectionlogos__grid {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
}

.sectionlogos__grid img {
    width: 2rem;
    
}

/****** End success  styles ******/



/****** Begin  implementation styles ******/

.implementationH1 h1 {
    font-size: 1.7em;  
}

.implementationH2 {
    color: orange;  
}

.implementationH3 {
    color: darkgrey;
}

.plan img{
    width: 70%;
    border-radius: 5px;
}

.migration img{
    width: 60%;
    border-radius: 5px;
}

.survey img{
   
    border-radius: 5px;
}

.training img {
    width: 80%;
    border-radius: 5px;
}

/****** End implementation  styles ******/

/****** Begin  contact styles ******/



.contactHeading {
    color: coral;
    font-weight: bold;

}

.contactHeading h1 {
    color: black;
    font-size: 1.7em;

}


.contactForm form {
    display: flex;
    flex-direction: column;
    border: 1px solid coral;
    border-radius: 5px;

}

.contactForm input, textarea {
    margin: 10px;
}

.contactForm textarea {
    height: 12rem;
}

/****** End contact  styles ******/

/****** Begin  footer  section styles ******/

footer {
     background-color: darkslategray;
    color: white;   
}

.contactContainer img {
    height: 50px;
}


.SocialContainer__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SocialContainer__logos figure{
    margin-right: 1rem;
}

.socialContainer h3 {
    margin-bottom: 10px;
}

.newsContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.legalContainer a {
    text-decoration: none;
    color: white;
}

/****** End footer section  styles ******/

