/****** Begin index principal section styles ******/

.sectionPrincipal {
    height: 100vh;
    background: linear-gradient(45deg, rgba(243, 181, 110, 0.8), rgba(116, 42, 5, 0.8)), url("../image/sgoSuite/saas-bg.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    img {
        width: 30%;
        text-align: center;
    }
    h1 {
        width: 70%;
        font-size: 4em;
        font-size: 2.5em;
        color: white;
    }
    p {
    width: 70%;
    font-size: 2em;
    font-size: 1.5em;
    color: white;
    }
}

/****** End index principal section  styles ******/

/****** Begin index features  section styles ******/

.sectionFeatures{
    &__heading{
        width: 80%;
        font-size: 1.6em;
    }
    p {
        width: 80%;
    }
    img {
        width: 40%;
        transition: width 0.5s;
    }
    h3 {
        color: orange;
    }
} 

/****** End index features section  styles ******/

/* Call To Action Section
--------------------------------*/
#call-to-action {
    overflow: hidden;
    background: linear-gradient(rgba(235, 138, 29, 0.6), rgba(121, 31, 4, 0.6)), url(../../assets/image/advantages/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  #call-to-action .cta-text {
    color: #fff;
  }
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  #call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  #call-to-action .cta-btn:hover {
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
  }
  





/****** Begin index advantages  section styles ******/

.sectionAdvantages {
    height: 60vh;
    background-color: #faf8f7;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        width: 100%;
        border-radius: 5px;
    }
    h3,p {
    width: 80%;
    }
    &__narrowContainer{
        width: 70%;
        display: flex;
        flex-direction: row;
    }
}



/****** End index advantages section  styles ******/






/****** Begin index testimonials  section styles ******/

.sectionTestimonials {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
        &__carrousel {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }
    }

}

.carousel {
    width: 70%;
}

.carousel__card {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin-right: 10px;
    box-shadow: 2px 2px #f6f6f6;
    &__client img {
        border-radius: 50%;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow: 16px 16px 38px #cacaca,
            -16px -16px 38px #f6f6f6;
        width: 7rem;
    }
    &__logo {
        box-shadow: 16px 16px 38px #cacaca,
            -16px -16px 38px #f6f6f6;
        border-radius: 5px;
        & img {
            width: 8rem;
        }
    }
}

/****** End index testimonials section  styles ******/
