/****** Begin  implementation styles ******/

.implementation{
    &H1 h1 {
        font-size: 1.7em;
    }
    &H2 {
        color: orange;
    }
    &H3 {
        color: darkgrey;
    }

}

.plan img {
    width: 70%;
    border-radius: 5px;
}

.migration img {
    width: 60%;
    border-radius: 5px;
}

.survey img {

    border-radius: 5px;
}

.training img {
    width: 80%;
    border-radius: 5px;
}

/****** End implementation  styles ******/