/****** Begin  success styles ******/

.successCases{
    
    & h1 {
        font-size:  map-get($sizings, large )
    }
}

.sectionlogos__grid {
    width: 80%;
    img {
        width: 3rem;
    }
}


/****** End success  styles ******/