/****** Begin  success styles ******/

.successCases{
    width: 80%;
    &__headings{
        h1 {
            font-size:  map-get($sizings, large )
        }
    } 
    &__lastClients{
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
        flex-wrap: wrap;
        box-shadow: 3px 3px 3px lightgray;
        padding: map-get($spacings, small );
        img{
            display: inline-block;
            width: 30%;
        }
        p{
            font-size: map-get($sizings, xtra-small);
            
        }
    }
    
}
.sectionlogos__grid {
    width: 80%;
    img {
        width: 8rem;
    }
 }

 @media (max-width: 769px) {
    .sectionlogos__grid {
        img {
            width: 5rem;
        }
     }
    }


/****** End success  styles ******/